<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Application.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1979F2C71B3B46AB00A98EE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F38A5751D06A3C200735948</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F6F26191C904D48003C1189</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F6F262E1C904E85003C1189</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
